*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
.header{
    padding: 45px 0;
    
border: 2px solid rgb(222, 219, 219);
background: rgb(255, 255, 255);
}
.container{
    max-width: 1085px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__btn{
    display: flex;
    align-items: center;
    gap: 14px;
    color: rgb(66, 66, 66);
font-family: "Inter";
font-size: 36px;
font-weight: 700;
line-height: 44px;
background-color: transparent;

}
.header__btn::before{
    background-image: url("./images/Vector\ \(6\).png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    content: "";
    display: block;
}
.hero{
    padding-top: 43px;
    padding-bottom: 55px;

}
.hero__wrapper{
    width: 650px;
    border: 1px solid #dedbdb;
    border-radius: 50px;
    background: #ffff;
    margin: 0 auto;
    padding: 60px 56px;
}
.hero__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__text{
    color: #f0400f;
font-family: "Inter";
font-size: 24px;
font-weight: 700;
line-height: 29px;
display: flex;

}
.hero__title{
    color: #0e0d5d;
font-family:"Inter";
font-size: 48px;
font-weight: 700;
line-height: 58px;
margin-top: 133px;
text-align: center;

}
.oquvchi{
    width: 255px;
    padding: 9px 0;
    color: #000000;
font-family: Inter;
font-size: 28px;
font-weight: 500;
line-height: 34px;
border-radius: 15px;
border: none;
background: #ffffff;
}
.sunnat{
    color: rgb(117, 117, 117);
font-family: Inter;
font-size: 28px;
font-weight: 500;
line-height: 34px;
padding: 9px 0;
border-color: transparent;
border: none;
}
.oquvchi:active{
    background-color: #ffffff;
color: black;
}
.oquvchi:focus{
    background-color: #ffffff;
    color: black;
}
.sunnat:focus{
    background-color: #ffffff;
    color: black;
}
.sunnat:active{
     background-color: #ffffff;
color: black;
}
.opop{
    margin-left: 370px;
    display: flex;
    align-items: center;
}
.yupi{
    color: rgba(0, 0, 0, 0.64);
font-family: "Inter";
font-size: 24px;
font-weight: 500;
line-height: 29px;
width: 247px;
margin: 0 auto;
margin-top: 20px;
}
.podverdit{
width: 202px;
height: 67px;
border-radius: 20px;
background: rgb(246, 158, 134);
color: rgb(255, 255, 255);
font-family: "Inter";
font-size: 24px;
font-weight: 700;
line-height: 29px;
text-align: center;
align-items: center;
}
.popoq{
        
    width: 533px;
    height: 70px;
    padding: 9px 0;
    color: rgb(117, 117, 117);
    font-family: "Inter";
    font-size: 28px;
    font-weight: 500;
    line-height: 70x;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    border-radius: 20px;
    margin: 0 auto;
background: rgb(245, 245, 245);
box-sizing: border-box;
border: 1px solid rgba(117, 117, 117, 0.19);
border-radius: 20px;

background: rgb(250, 250, 250);
margin: 0 auto;
margin-top: 39px;
display: flex;
align-items: center;
text-align: center;
}

.btn{
width: 202px;
border-radius: 20px;
padding: 17px 0;
color: rgb(255, 255, 255);
font-family: "Inter";
font-size: 24px;
font-weight: 700;
line-height: 29px;
background: rgb(246, 158, 134);
margin-top: 85px;
text-align: center;
margin-left: auto;
display: block;
}